#benefits {
  padding-bottom: 60px;
}
.benefits-headline {
  font-size: 1.8rem;
  text-align: center;
}
.benefits-subheadline {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem auto;
  text-align: center;
}
.benefit-card {
  padding: 3rem 2.2rem 5rem 2.2rem;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.benefit-icon {
  margin-bottom: 1.8rem;
}
.benefit-card-title {
  margin-bottom: 1.3rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.benefit-card-description {
  font-size: 1.125rem;
  line-height: 2.2;
  color: #18181d;
}
.benefits-cards-container {
  position: relative;
  width: 100%;
  /* display: flex; */
  /* gap: 2rem; */
  max-width: 800px;
  margin: 2rem auto;
}
.benefit-btn {
  background-color: #4352ff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  width: 60%;
  margin: 4rem auto;
  display: block;
}
.slick-dots {
  bottom: 0;
}
.slick-dots li {
  margin: 0 20px;
}
.slick-dots li button::before {
  /* font-size: 10px; */
  /* color: #333; */
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #000;
}
