#our-team {
  padding-bottom: 60px;
}
.our-team-headline {
  text-align: center;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.our-team-subheadline {
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.team-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  background: linear-gradient(
    120deg,
    #99a5ff,
    #4352ff,
    #99a5ff,
    #99a5ff,
    #a18cd1,
    #99a5ff
  );
  background-size: 200% 200%;
}
.our-team-profile-image {
  border-radius: 50%;
  width: 50%;
  margin: 2rem auto;
  background: none;
}
.our-team-profile-name {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
}
.our-team-profile-profession {
  font-size: 1.125rem;
  font-weight: 500;
}
.our-team-socials {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
.our-team-socials img {
  width: 28px;
}
