.waitlist_email_icon {
  width: 20%;
  margin: 1.4rem auto 1rem auto;
}
.join-waitlist-headline{
    color: #170F49;
    font-size: 1.8rem !important;
    margin-bottom: 1rem;
}
.join-waitlist-description{
    color: #6F6C90;
    font-weight: 400;
    font-size: 1.125rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    
}