@import "../src/styles/hamburger.css";
@import "../src/styles/Header.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

:root {
  --barlow: "Barlow", sans-serif;
  --primary-color: #ffc453;
  --primary-light-color: #99a5ff;
  --secondary-color: #4352ff;
  --accent: #7b7a7b;
  --text-color: #18181d;
}
.container {
  margin: 0 3rem;
}
body {
  font-family: var(--barlow);
  background-color: #f5f5f5;
}
/* Header Styles */
img {
  display: block;
  max-width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}
.logo-highlight {
  color: var(--primary-color);
}
button {
  cursor: pointer;
}
body {
  background-color: #fffbfc;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: #00000029 0 1px 4px;
}
.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}
.nav-links a:hover {
  color: var(--primary-color);
}
.join-button {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
}

.hamburger {
  display: none;
}
.navbar-icon-links {
  display: inline-block;
}

@media (max-width: 767px) {
  .container {
    margin: 0 0.4rem;
  }
  nav {
    position: fixed;
    left: 0;
    right: 0;
    background: #f5f5f5;
    padding: 1.5rem 1rem;
  }
  .logo-container {
    display: flex;
  }
  .join-waitlist {
    display: none;
  }
  .hide {
    display: none;
  }
  .nav-links {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 2rem 0;
    background-color: #ffffff;
  }
  .nav-links.hide {
    display: none;
  }
  .nav-links a {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
  }
  .hamburger {
    display: block;
    padding: 7px 7px;
  }

  /* Hero section */
  .hero-section-content h1{
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .hero-section-content p{
    line-height: 30px;
  }
  .hero-container{
    margin-top: 2rem;
  }
  #hero-section{
    padding: 80px 0 0 0;
  }
  .join-waitlist-container{
    margin-top: 3rem;
    display: flex;
    width: 100%;
  }
  .email-input{
    flex: 1;
    padding: 1rem 1.4rem;
  }
  /* End of Hero Section */
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    position: fixed;
    left: 0;
    right: 0;
    background: #f5f5f5;
    padding: 1.5rem 2rem;
  }
  .nav-links.hide {
    display: none;
  }
  .logo-container {
    display: flex;
  }
  .join-waitlist {
    display: none;
  }
  .hide {
    display: none;
  }
  .nav-links {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 2rem 0;
    background-color: #ffffff;
  }
  .nav-links a {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
  }
  .hamburger {
    display: block;
    padding: 7px 7px;
  }
  /* Hero section */
  .join-waitlist-container{
    margin-top: 3rem;
    display: flex;
    width: 80%;
  }
  .email-input{
    flex: 1;
  }
  /* End of Hero section */
}

@media (min-width: 1025px) and (max-width: 1200px){
  nav{
    padding: 1.5rem 1rem;
  }
  .nav-links{
    gap: 2rem;
  }
  /* Hero section */
  .hero-section-content h1{
    font-size: 3rem;
  }
  .hero-image{
    width: 100%;
  }
  /* End of Hero section */
}

@media (min-width: 1201px) {
  /* Hero-section */
  .hero-image{
    width: 90%;
  }
  /* End of Hero-section */
}
